@import url(../css/font.css);
:root{
    --darkBrown:rgb(36, 20, 0)
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(114, 4, 24);
}
/* Logo Part */
header{
    margin-top: 5rem;
}
.logo_container{
    display: flex;
    margin-left: 32px;
}
.logo_container img{
    width: 68px;
    height: 68px;
}
#firstP{
    font-family: "Mont";
    font-weight: 900;
    font-size: 14px;
}
#secondP{
    font-family: "Mont";
    font-weight: 400;
    font-size: 13px;
}
.logo_textContent{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 10px;
}
#for_line{
    border: 1px solid white;
    width: 203px;
}
/*  */

/* Admin Login and Password part */
section{
    margin-top: 6.25rem;
    display: flex;
    justify-content: center;
}

.login-form{
    background-color: white;
    width: 662px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.login-form p{
    font-family: "Crimson";
    margin-bottom: 20px;
}

.login-form u{
    font-weight: 900;
    font-family: "Crimson";
}

section button{
    background-color: rgb(225, 106, 0);
    color: white;
    border: none;
}
section h2{
    margin-top: 10px;
}
#email{
    margin:10px 20px 10px 20px;
    padding: 15px;
    font-family: "Crimson";
}
#password{
    margin:10px 20px 10px 20px;
    padding: 15px;
}
#submit{
    margin:50px 20px 10px 20px;
    padding: 15px;
}
/*  */
/* Admin Registration part */
.create-form{
    background-color: white;
    width: 662px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.create-form p{ 
    font-family: "Crimson";
    margin-bottom: 20px;
}

.create-form u{
    font-weight: 900;
    font-family: "Crimson";
}

section button{
    background-color: rgb(225, 106, 0);
    color: white;
    border: none;
}
section h2{
    margin-top: 10px;
    font-size: 44px;
    font-weight: 700;
    font-family: "Mont";
}
#emailL{
    margin:10px 20px 10px 20px;
    padding: 15px;
    font-family: "Crimson";
}
#passwordL{
    margin:10px 20px 10px 20px;
    padding: 15px;
}
#submitL{
    margin:50px 20px 10px 20px;
    padding: 15px;
}
/*  */
.hidden{
    display: none;
}