* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Semanthic's design */
main{
    display: flex;
}
aside{
    background-color: rgb(114, 4, 24);
    width: 355px;
    height: 100wh;
    padding-top: 6.5rem;
}
section{
    background-color: rgb(255, 250, 245);
    width: 100vh;
}

/*  */

/* Big Logo */
.logo_container {
    display: flex;
    margin-left: 32px;
}

.logo_container img {
    width: 68px;
    height: 82px;
}

#firstP {
    font-family: "Mont";
    font-weight: 900;
    font-size: 14px;
}

#secondP {
    font-family: "Mont";
    font-weight: 400;
    font-size: 13px;
}

.logo_textContent {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 10px;
}

#for_line {
    border: 1px solid white;
    width: 203px;
}
/*  */

/* List of Logos */
.logo_list {
    list-style: none;
    margin: 25px 0px 0px 32px;
}

.logo_list li {
    display: flex;
    margin-bottom: 40px;
}
.logo_list li p{
    color: white;
    font-size: 18px;
    font-family: "Mont";
    font-weight: 400;
    padding: 7px 0 0 7px;
}

.logo_list img {
    width: 33px;
    height: 35px;
}
/* Starting of Section */
/* ---------------------------------------- */
/* Admin Profile and Logo*/
#admin-profile{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.bi-person{
    color: black;
    font-size: 21px;
}
#admin-profile span{
    display: flex;
}
#admin-profile p{
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 400;
    margin: 3px 40px 0 5px;
}

/* ----------------------------------------- */
/* Search Bar */
.searh-bar{
    margin-left: 30px;
}
#search-input{
    width: 395px;
    height: 41px;
    border-radius: 20px;
    padding-left: 10px;
    border-color: gold;
    /* border color duzeldersen ???? */

}
/*  */
/*  Book Form */
/* h tagi qalib yazarsan ??? */
#book-form{
    margin:0 15px;
    background-color: rgb(249, 250, 251);
    padding:0 15px;
}
#author-title, #book-title, #image-title, #book-type{
    height: 40px;
    width: 100%;
    border: 1px solid rgb(226, 230, 238);
    border-radius: 10px;
    box-shadow: 3px 0px 10px 1px rgb(226, 230, 238);
}
#description{
    padding: 40px;
    width: 100%;
    border: 1px solid rgb(226, 230, 238);
    border-radius: 10px;
    box-shadow: 3px 0px 10px 1px rgb(226, 230, 238);
}
#book-form-btn{
    height: 40px;
    background-color: rgb(255, 139, 0);
    color: white;
    width: 100%;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}
#book-form p{
    font-size: 14px;
    font-family: "Roboto";
    margin-top: 30px;
    margin-bottom: 10px;
}
/* ----------------------------------------- */
/* About Store */
div h3{
    margin:20px 0 20px 30px;
/* font size baxarsan internetden ??????? */
}
#aboutStore-form{
    margin:0 15px;
    background-color: rgb(249, 250, 251);
    border-radius: 10px;
    padding:0 15px;
}
#title2, #image-title2{
    height: 40px;
    width: 100%;
    border: 1px solid rgb(226, 230, 238);
    border-radius: 10px;
    box-shadow: 3px 0px 10px 1px rgb(226, 230, 238);
}

#description2{
    padding: 40px;
    width: 100%;
    border: 1px solid rgb(226, 230, 238);
    border-radius: 10px;
    box-shadow: 3px 0px 10px 1px rgb(226, 230, 238);
}

#aboutStore-form-btn{
    height: 40px;
    background-color: rgb(255, 139, 0);
    color: white;
    width: 100%;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

#aboutStore-form p{
    font-size: 14px;
    font-family: "Roboto";
    margin-top: 30px;
    margin-bottom: 10px;
}
