@import url(../css/font.css);
:root{
    --darkBrown:rgb(36, 20, 0)
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Semanthic's design */
body {
    background-color: rgb(255, 250, 245);
}

header {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

footer{
    background-color: rgb(57, 31, 0);
    margin-top: 6.5rem;
    height: 276px;
}


/*  */
/* Header Logo*/
.logo_container {
    display: flex;
    margin-top: 10px;
    margin-left: 32px;
}

.logo_container img {
    width: 42px;
    height: 42px;
}

#firstP {
    font-family: "Mont";
    font-weight: 900;
    font-size: 14px;
    color: rgb(114, 4, 24);
    padding-top: 5px;
}

#secondP {
    font-family: "Mont";
    font-weight: 400;
    font-size: 13px;
    color: var(--darkBrown);
    padding-left: 5px;
}

.logo_textContent {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

#for_line {
    border: 1px solid rgb(105, 103, 101);
    width: 203px;
}

/* Navigation */
.navbar-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-list a {
    text-decoration: none;
    color: var(--darkBrown);
    font-size: 12px;
    font-weight: 400;
    font-family: "Mont";
}

#catalog_href {
    color: rgb(225, 106, 0);
    text-decoration-line: underline;
    font-weight: 700;
}

/* User Profile Panel */
#user-profile {
    display: flex;
    margin-top: 10px;
    cursor: pointer;
}

.bi-person {
    color: var(--darkBrown);
    font-size: 21px;
}

#user-profile p {
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 400;
    margin: 3px 40px 0 5px;
    color: var(--darkBrown);
}

/*  */
/* AllBooks navigation bar */
.allBooks-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 123px;
}

.allBooks-section h2 {
    font-size: 25px;
    font-weight: 900;
    font-family: "Mont";
    color: var(--darkBrown);
}

.allBooks-navbar-list {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-top: 7px;
}

.allBooks-navbar-list a {
    text-decoration: none;
    color: var(--darkBrown);
    font-size: 13px;
    font-weight: 400;
    font-family: "Mont";
}

/*  */
/* AllBooks Slider Section */

.allBooks-slider-section {
    display: flex;
    justify-content: center;
}

.slider {
    border: 1px solid black;
    display: flex;
    width: 80%;
    height: 400px;
    margin: 10px 0;
    align-items: center;
    overflow: hidden;
}

.slider-content {
    display: flex;
    gap: 3.75rem;
    margin-left: 40px;
}

.bi-chevron-right,
.bi-chevron-left {
    font-size: 40px;
    color:rgb(114, 4, 24);

}

.bi-chevron-right{
    position: absolute;
    z-index: 1;
    cursor: pointer;
    right: 140px;
}

.bi-chevron-left{
    position: absolute;
    z-index: 1;
    cursor: pointer;
    
}
/*  */
/* Slider's elements */
.slider span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(224, 220, 215),
        -1px -1px 10px rgb(224, 220, 215);
    width: 184px;

}

.slider img {
    width: 134px;
    height: 190px;
}

.new-tag {
    background-color: rgb(235, 87, 87);
    display: flex;
    justify-content: center;
    align-self: flex-end;
    color: white;
    font-weight: 900;
    font-size: 9px;
    font-family: "Mont";
    box-shadow: -1px 1px 6px rgb(248, 216, 186);
    border-radius: 3px;
    width: 47px;
    height: 13px;
    text-align: center;
}

#slider-bookName {
    font-weight: 700;
    font-size: 14px;
    font-family: "Mont";
    color: var(--darkBrown);
}

#slider-authorName {
    font-weight: 400;
    font-size: 12px;
    font-family: "Mont";
    color: var(--darkBrown);
}

.slider button {
    background-color: rgb(225, 106, 0);
    color: white;
    font-weight: 900;
    font-size: 12px;
    font-family: "Mont";
    width: 136px;
    height: 29px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgb(251, 236, 223);
    width: 70%;
    margin-bottom: 17px;
}
/*  */
/* Best Seller Slider Section */

.bestSeller-slider-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 128px;
}

.bestSeller-slider-section h2{
    color: var(--darkBrown);
    font-weight: 900;
    font-size: 25px;
    font-family: "Mont";
}

/*  */
/* New Releases Slider Section */

.newReleases-slider-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 128px;
}

.newReleases-slider-section h2{
    color: var(--darkBrown);
    font-weight: 900;
    font-size: 25px;
    font-family: "Mont";
}
/*  */
/* Social Links Section */

.socialLinks-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 12.5rem;
}

.socialLinks-section h2{
    color: var(--darkBrown);
    font-weight: 900;
    font-size: 25px;
    font-family: "Mont";
}

.socialLinks-div{
    display: flex;
    gap: 3.4rem;
    margin-top: 30px;
}

.socialLinks-div a{
    font-size: 80px;
    color:var(--darkBrown);
}

/*  */
/* Footer Main PART */

.footer-main{
    display: flex;
    justify-content: space-around;    
    padding-top: 56px;
}
.footer-main a{
    text-decoration: none;
}

/*  */
/* Footer Logo*/

.footer-logo_container {
    display: flex;
    margin-top: 10px;
    margin-left: 32px;
}

.footer-logo_container img {
    width: 42px;
    height: 42px;
}

#footer-firstP {
    font-family: "Mont";
    font-weight: 900;
    font-size: 14px;
    color: white;
    padding-top: 5px;
}

#footer-secondP {
    font-family: "Mont";
    font-weight: 400;
    font-size: 13px;
    color: white;
    padding-left: 5px;
}

.footer-logo_textContent {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

#footer-for_line {
    border: 1px solid rgb(173, 163, 150);
    width: 203px;
}

/*  */
/* Footer List */

.footer-list{
    display: flex;
    font-size: 13px;
    font-family: "Mont";
    font-weight: 400;
    gap: 91px;
}

.footer-list ul{
    list-style: none;
}

.footer-list li{
    margin-bottom: 10px;
}

footer a, p{
    color: white;
}

.footer-list li:first-child{
    font-size: 18px;
    font-weight: 400;
    font-family: "Mont";
}
/*  */
/* Request Call div */

.request-call-div{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.request-call-div p{
    font-size: 12px;
    font-weight: 900;
    font-family: "Mont";
    color: white;
}

#request-href{
    border: 1px solid rgb(225, 106, 0);
    text-decoration: none;
    color: rgb(225, 106, 0);
    font-size: 14px;
    font-weight: 500;
    font-family: "Mont";
}
/*  */
#copyright-text{
    text-align: center;
    margin-top: 50px;
    font-size: 12px;
    font-weight: 400;
    font-family: "Mont";
}

/*  */
.hidden{
    display: none;
}













