* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Semanthic's design */
body{
    background-color: rgb(255, 250, 245);
}
header{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}



/*  */
/* Header Logo*/
.logo_container{
    display: flex;
    margin-top: 10px;
    margin-left: 32px;
}

.logo_container img{
    width: 42px;
    height: 42px;
}

#firstP {
    font-family: "Mont";
    font-weight: 900;
    font-size: 14px;
    color:  rgb(114, 4, 24);
    padding-top: 5px;
}

#secondP {
    font-family: "Mont";
    font-weight: 400;
    font-size: 13px;
    color: black;
    padding-left: 5px;
}

.logo_textContent {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

#for_line {
    border: 1px solid rgb(105, 100, 100);
    width: 203px;
}
/* Navigation */
.navbar-list{
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-list a{
    text-decoration: none;
    color: rgb(36, 20, 0);
    font-size: 12px;
    font-weight: 400;
    font-family: "Mont";
}

#catalog_href{
    color: rgb(225, 106, 0);
    text-decoration-line: underline;
}

/* User Profile Panel */
#user-profile{
    display: flex;
    margin-top: 10px;
}
.bi-person{
    color: black;
    font-size: 21px;
}
#user-profile span{
    display: flex;
}
#user-profile p{
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 400;
    margin: 3px 40px 0 5px;
}
/*  */
/* AllBooks navigation bar */
.allBooks-section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 123px;
}

.allBooks-section h2{
    font-size: 25px;
    font-weight: 900;
    font-family: "Mont";
}

.allBooks-navbar-list{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-top: 7px;
}

.allBooks-navbar-list a{
    text-decoration: none;
    color: rgb(36, 20, 0);
    font-size: 13px;
    font-weight: 400;
    font-family: "Mont";
}

/*  */
/* AllBooks Slider Section */

.allBooks-slider-section{
    display: flex;
    justify-content: center;
    background-color: red;
}

.slider{
    border: 1px solid black;
    display: flex;
    width: 70%;
    gap: 3.75rem;
    height: 400px;
    background-color: yellow;
    margin: 10px 0;
    align-items: center;
}
/*  */
/* Slider's elements */
.slider span{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.slider img{
    width: 134px;
    height: 190px;
}

#new-tag{
    background-color: rgb(235, 87, 87);
    display: flex;
    align-self: flex-end;
    color: white;
    font-weight: 900;
    font-size: 9px;
    font-family: "Mont";
}

#slider-bookName{
    font-weight: 700;
    font-size: 14px;
    font-family: "Mont";
}

#slider-authorName{
    font-weight: 400;
    font-size: 12px;
    font-family: "Mont";
}

.slider button{
    background-color: rgb(225, 106, 0);
    color: white;
    font-weight: 900;
    font-size: 12px;
    font-family: "Mont";
    width: 136px;
    height: 29px;
    cursor: pointer;
}