@font-face {
    font-family: "Mont";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: "Preah";
    src: url(../fonts/Preahvihear-Regular.ttf);
}
@font-face {
    font-family: "Nunito";
    src: url(../fonts/Nunito-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Crimson";
    src: url(../fonts/CrimsonText-Regular.ttf);
}